# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env

# VS Code settings
.vscode/

# Mac/Windows system files
.DS_Store
Thumbs.db
